// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        CSS VARIABLES                           //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//COLOR VARIABLES
$plum: #812a80;
$disco: #9f1f64;
$golden: #f4b945;
$charcoal: #383838;
$ash: #e3e3e3;
$snow: #ededed;

//FONT VARIABLES
@font-face {
  font-family: "Sofia Sans";
  src: url("assets/fonts/sofia-sans") format("otf");
}

$baseFamily: "Sofia Sans";
$thinWeight: 200;
$baseWeight: 300;
$boldWeight: 600;

$baseFont: 1rem;
$smallFont: 1.25rem;
$mediumFont: 1.5rem;
$largeFont: 2.5rem;
$massiveFont: 3rem;

//SPACERS
$sp1: 0.25rem;
$sp2: 0.5rem;
$sp3: 1rem;
$sp4: 1.5rem;
$sp5: 3rem;
$sp6: 4rem;
$sp7: 5rem;

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            IMPORTS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//BOOTSTRAP COLOR OVERRIDES/ADDITIONS
$theme-colors: (
  "plum": $plum,
  "disco": $disco,
  "secondary": $golden,
  "dark": $charcoal,
  "grey": $ash,
  "light": $snow,
);

@import "bootstrap/scss/bootstrap.scss";

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            GENERAL                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
html {
}

body {
  font-family: $baseFamily;
  font-weight: $baseWeight;
  font-size: $baseFont;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
  background: $snow;
  overflow-x: hidden;
}

.overflow {
  overflow-x: hidden;
}

.content {
  padding-left: $sp6;
  padding-right: $sp6;
}

.noUserSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               TEXT                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
h1 {
  font-size: $largeFont;
  font-weight: $thinWeight;
  text-align: center;
  @extend .noUserSelect;
  @extend .mb-0;

  @include media-breakpoint-up(sm) {
    font-size: $massiveFont;
  }
}

h2 {
  font-size: $massiveFont;
  @extend .noUserSelect;
  line-height: 1;
}

h3 {
  font-weight: $thinWeight;
  font-size: $smallFont;
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            BUTTONS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.btn-lg,
.btn {
  border-radius: $sp5;
  //@extend .mx-2;
  @extend .my-2;
  @extend .px-3;
  @extend .noUserSelect;
  transition: all 0.2s;
  @extend .justify-content-center;
  border: none !important;
}

.btn-secondary {
  color: $disco;
  font-weight: $boldWeight;
  text-transform: uppercase;
  background-image: url("assets/images/bolt-snow.svg");
  background-repeat: no-repeat;
  background-size: 16rem;
  background-position: 48% 53%;
  background-blend-mode: multiply;
  transition: all 0.35s;
  @extend .shadow-sm;
  @extend .noUserSelect;

  @-moz-document url-prefix() {
    //transition: none !important;
    background-size: 0rem !important;
    background-image: none !important;
  }
}

.btn-secondary:hover {
  color: $snow;
  background-blend-mode: multiply;
  background-size: 7rem;
  @extend .shadow;
  transition: all 0.45s;
  text-decoration: none;

  @-moz-document url-prefix() {
    transition: all 0.3s !important;
    background-size: 0rem !important;
    background-blend-mode: none !important;
  }
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: $charcoal;
  background-blend-mode: multiply;
  background-size: 8rem;
  @extend .shadow-none;
}

.btn-light {
  color: $disco;
  font-weight: $boldWeight;
  text-transform: uppercase;
  @extend .shadow-sm;
}

.btn-light:hover {
  @extend .shadow;
  background: $disco;
  color: white;
  text-decoration: none;
}

.btn-light:not(:disabled):not(.disabled):active {
  @extend .shadow-none;
}

.btn-outline-light {
  @extend .border-0;
}

.btn-outline-light:hover {
  @extend .shadow;
  text-decoration: none;
}

.btn-outline-light:not(:disabled):not(.disabled):active {
  @extend .shadow-none;
}

.btn-plum {
  font-size: $smallFont;
  background: linear-gradient(50deg, $disco 5%, $plum 70%, $plum 100%);
  background-size: 400% 400%;
  @extend .shadow-sm;
  @extend .px-4;
  @extend .noUserSelect;
  transition: all 0.35s;
}

.btn-plum:hover {
  background: linear-gradient(50deg, $plum 5%, $disco 70%, $disco 100%);
  @extend .shadow;
  transition: all 0.35s;
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        HEADER / FOOTER                         //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.welcome {
  height: 36px;
  background: linear-gradient(90deg, $disco 5%, $plum 70%, $plum 100%);
  @extend .shadow-lg;
  @extend .position-absolute;
  top: 0px;
  z-index: 20;
  @extend .text-light;
  text-transform: uppercase;
  @extend .justify-content-center;
  @extend .d-flex;
  @extend .noUserSelect;
  text-align: center;

  @include media-breakpoint-only(xs) {
    padding: 2.25rem;
  }
}

@-moz-document url-prefix() {
  .skew {
    filter: saturate(100%) contrast(100%) !important; //accounts for FireFox color difference
  }
  .boltPattern,
  .boltPattern2 {
    animation: none 0s linear infinite !important;
  }

  .highlightText-Wave {
    display: none !important;
  }
}

.bannerSkew {
  background: linear-gradient(50deg, $plum 10%, $disco 100%);
  margin-top: -150px;
  -webkit-transform: skewY(-12deg);
  -moz-transform: skewY(-12deg);
  -ms-transform: skewY(-12deg);
  -o-transform: skewY(-12deg);
  transform: skewY(-12deg);
  filter: saturate(120%) contrast(110%);
  @extend .d-flex;
  margin-bottom: 220px;
  @extend .shadow-lg;
  padding: 0 !important;
}

.banner {
  margin-bottom: $sp4;
  justify-content: center;
  @extend .d-flex;
  margin-top: 200px;
  -webkit-transform: skewY(12deg);
  -moz-transform: skewY(12deg);
  -ms-transform: skewY(12deg);
  -o-transform: skewY(12deg);
  transform: skewY(12deg);
  //margin-right: 0 !important;
  //padding-right: 0;

  @include media-breakpoint-up(lg) {
    justify-content: center;
  }
}

.banner div {
  @extend .justify-content-center;
  display: flex;
}

.boltPattern {
  position: absolute;
  background-blend-mode: color-burn;
  mix-blend-mode: color-burn;
  z-index: 1;
  height: 100%;
  width: 200%;
  background-image: url("assets/images/bolt-snow.svg");
  background-repeat: repeat;
  background-size: 8rem;
  overflow: hidden;
  opacity: 0.2;
  pointer-events: none;
  animation: animatedBackground 120s linear 1;
}

@keyframes animatedBackground {
  from {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}

.logo {
  padding: $sp2 0;
  pointer-events: none;

  @include media-breakpoint-only(xs) {
    margin-top: 2rem;
  }
}

.logo img {
  @extend .w-100;
  @extend .h-100;
}

.logoSm {
  @extend .ml-auto;
  pointer-events: none;
  padding: $sp2;

  @include media-breakpoint-only(sm) {
    padding: 0 0 0 8%;
  }
  @include media-breakpoint-only(md) {
    padding: 0 0 0 10.5%;
  }
  @include media-breakpoint-only(lg) {
    padding: 0 0 0 11.5%;
  }
  @include media-breakpoint-only(xl) {
    padding: 0 0 0 12.5%;
  }
}

.hero {
  //@extend .d-flex;
  //@extend .justify-content-center;
  text-align: left;
  color: $snow;
  margin-top: $sp5;
  margin-bottom: $sp3;
  padding: $sp4 0;
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               MAIN                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.card {
  width: 60%;
  height: auto;
  z-index: 7;
  background-color: transparent;
  @extend .border-0;

  @include media-breakpoint-only(xs) {
    width: 78% !important;
  }
}

.blur {
  filter: blur(1.5px);
}

.highlightImg {
  width: 100%;
  @extend .position-relative;

  .img {
    width: 100%;
    border-radius: $sp1;
    @extend .shadow-lg;

    @include media-breakpoint-up(md) {
      border-radius: $sp3;
    }
  }
}

.fullwidthImg {
  width: 300%;
  text-align: center;
  margin-left: -60vw;
  position: relative;

  .img {
    //position: absolute;
  }
}

.subImg {
  @extend .position-absolute;
  border-radius: $sp1;
  @extend .shadow;
  top: -2%;
  left: 70%;
  width: 40% !important;

  @include media-breakpoint-up(md) {
    border-radius: $sp3;
  }
}

.subImg2 {
  top: 17%;
}

.subImg3 {
  @extend .position-absolute;

  left: -5%;
  top: 3%;
}

.subImg4 {
  @extend .position-relative;
  // @extend .shadow-sm;
  margin-top: $sp2;
  height: 30px;
  // -webkit-filter: drop-shadow(0 0.125rem 0.25rem  rgba(0,0,0,0.175));
  filter: drop-shadow(0 0.125rem 0.25rem  rgba(0,0,0,0.175));
  
  @include media-breakpoint-up(md) {
    height: 41px;
  }
}

.subImg5 {
  @extend .position-absolute;
  
  left: -5%;
  top: 6.5%;
  
  > img {
    height: 75px;
    // -webkit-filter: drop-shadow(0 0.125rem 0.25rem  rgba(0,0,0,0.175));
    filter: drop-shadow(0 0.125rem 0.25rem  rgba(0,0,0,0.175));
    
    @include media-breakpoint-only(md) {
      height: 100px;
    }
    
    @include media-breakpoint-up(lg) {
      height: 110px;
    }
  }
}

.cardOne {
  margin-top: -100px;
  margin-left: 19.5%;
  margin-bottom: 6rem;

  @include media-breakpoint-only(xs) {
    margin-top: -140px;
    margin-left: 7%;
    margin-bottom: 4rem;
  }
  @include media-breakpoint-between(sm, lg) {
  }
}

.cardTwo {
  margin-left: 19.5%;
  margin-top: 0px;
  //margin-bottom: 10rem;

  @include media-breakpoint-only(xs) {
    margin-bottom: 4rem;
    margin-left: 11%;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 5rem;
  }
}

.cardTwo h2 {
  @extend .text-center;

  @include media-breakpoint-up(md) {
    //margin-bottom: $sp2;
  }
}

.cardThree {
  margin-left: 19.5%;
  margin-bottom: 6rem;

  @include media-breakpoint-only(xs) {
    //margin-bottom: 7rem;
    margin-left: 11%;
    margin-bottom: 4rem;
  }

  @include media-breakpoint-between(sm, lg) {
    //margin-bottom: 7rem;
  }

  @include media-breakpoint-up(xl) {
    //margin-bottom: 9rem;
  }
}

.cardFour {
  margin-left: 19.5%;
  margin-top: 0px;

  @include media-breakpoint-only(xs) {
    //margin-bottom: 7rem;
    margin-left: 11%;
  }
}

.cardFour h2 {
  width: 75%;
  @extend .text-center;
  @extend .mx-auto;
}

.cardText {
  @extend .text-center;
  @extend .mb-3;
}

.titleText {
  @extend .text-center;

  h2 {
    @include media-breakpoint-only(xs) {
      //font-size: 220%;
    }
  }
}

.highlightText-Lift {
  vertical-align: super;
  @extend .position-relative;
}

.lift {
  @extend .position-absolute;
  width: 120%;
  margin-top: 0.2rem;
  margin-left: -3.7rem;
}

.highlightText-Wave {
  @extend .position-relative;
}

.wave {
  @extend .position-absolute;
  width: 5600%;
  height: 90%;
  margin-left: -15.0rem;
  margin-top: 3.6rem;

  @include media-breakpoint-between(xs, md) {
    margin-left: -6.5rem;
  }
}

.highlightText-Wave ~ h2 {
  @extend .position-relative;
}

.star {
  @extend .position-absolute;
  width: 78px;
  margin-top: 0.3rem;
  margin-left: -4.35rem;

  @include media-breakpoint-between(xs, sm) {
    margin-left: 2.5rem;
  }
}

.highlightText-Star ~ h2 {
  @extend .position-relative;
}

.bulb {
  @extend .position-absolute;
  width: 58px;
  margin-left: -6.55rem;
}

.highlightText-Bulb ~ h2 {
  @extend .position-relative;
}

.supportText {
  @extend .text-center;
  margin-bottom: $sp2;

  h3 {
    font-size: $smallFont;
  }
}

.highlightText-Circle {
  @extend .position-relative;
}

.circle {
  @extend .position-absolute;
  width: 75px;
  margin-top: 0.8rem;
  margin-left: -14.1rem;
}

.highlightText-Circle ~ h2 {
  @extend .position-relative;
}

.boltOne,
.boltTwo,
.boltThree,
.boltFour {
  position: relative;
  pointer-events: none;
}

.boltOne > img {
  top: -220px;
  left: -34%;
  position: absolute;
  z-index: -3; //sets the bolt behind the top banner

  @include media-breakpoint-only(xs) {
    top: -20px;
    height: 600px;
    left: -44%;
  }
  @include media-breakpoint-only(sm) {
    top: -150px;
    height: 900px;
  }
  @include media-breakpoint-only(md) {
    top: -140px;
    height: 1100px;
    left: -40%;
  }
  @include media-breakpoint-only(lg) {
    height: 1300px;
  }
  @include media-breakpoint-only(xl) {
    height: 1500px;
  }
}

.boltTwo > img {
  top: -180px;
  position: absolute;
  left: 45%;
  transform: rotate(60deg) scaleY(-1);

  @include media-breakpoint-only(xs) {
    top: 100px;
    height: 600px;
    left: 47%;
  }
  @include media-breakpoint-only(sm) {
    top: 40px;
    height: 900px;
  }
  @include media-breakpoint-only(md) {
    top: -50px;
    height: 1100px;
  }
  @include media-breakpoint-only(lg) {
    top: -110px;
    height: 1300px;
  }
  @include media-breakpoint-only(xl) {
    height: 1500px;
    top: -140px;
  }
}

.boltThree > img {
  top: -240px;
  position: absolute;
  left: -35%;
  transform: rotate(80deg) scaleX(-1);

  @include media-breakpoint-only(xs) {
    top: 50px;
    height: 600px;
    left: -35%;
  }
  @include media-breakpoint-only(sm) {
    top: -80px;
    height: 900px;
  }
  @include media-breakpoint-only(md) {
    top: -200px;
    height: 1100px;
  }
  @include media-breakpoint-only(lg) {
    top: -280px;
    height: 1300px;
  }
  @include media-breakpoint-only(xl) {
    height: 1500px;
    top: -400px;
  }
}

.boltFour > img {
  top: -180px;
  position: absolute;
  left: 50%;
  transform: rotate(60deg) scaleY(-1);

  @include media-breakpoint-only(xs) {
    top: 0px;
    height: 600px;
    left: 47%;
  }
  @include media-breakpoint-only(sm) {
    top: -100px;
    height: 900px;
  }
  @include media-breakpoint-only(md) {
    top: -150px;
    height: 1100px;
  }
  @include media-breakpoint-only(lg) {
    height: 1300px;
    top: -230px;
  }
  @include media-breakpoint-only(xl) {
    height: 1500px;
    top: -300px;
  }
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               CTA                              //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //


.cta {
  margin-top: 8rem;
  // margin-bottom: 4rem;
  background: $ash;
  padding: $sp3 0;

  @include media-breakpoint-only(xs) {
    margin-top: 8rem;
    // margin-bottom: 6rem;
  }
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            SECTIONS                            //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.sectionSkew {
  background: linear-gradient(
    60deg,
    rgba($ash, 1) 0%,
    rgba($snow, 1) 35%,
    rgba($snow, 1) 40%,
    rgba($snow, 1) 60%,
    rgba($ash, 1) 90%
  );
  -webkit-transform: skewY(-12deg);
  -moz-transform: skewY(-12deg);
  -ms-transform: skewY(-12deg);
  -o-transform: skewY(-12deg);
  transform: skewY(-12deg);
  @extend .d-flex;
  z-index: 20;
  @extend .py-5;
  margin-bottom: $sp6;
  margin-top: $sp6;
}

.section {
  @extend .mx-auto;
  @extend .justify-content-center;
  @extend .d-flex;
  -webkit-transform: skewY(12deg);
  -moz-transform: skewY(12deg);
  -ms-transform: skewY(12deg);
  -o-transform: skewY(12deg);
  transform: skewY(12deg);
}

.features {
  text-align: justify;
  margin: $sp5 0 4rem 0;

  @include media-breakpoint-only(sm) {
    min-height: 750px;
  }

  @include media-breakpoint-only(md) {
    min-height: 650px;
  }

  @include media-breakpoint-only(lg) {
    min-height: 510px;
  }

  @include media-breakpoint-only(xl) {
    min-height: 550px;
  }
}

.featuresNav {
  @extend .mt-md-5;
  // @extend .mb-5;
  // @extend .mb-md-0;
  font-size: $mediumFont;
  @extend .text-center;
  @extend .mr-md-3;

  @include media-breakpoint-between(xs, sm) {
    //display: none;
  }
}

.nav {
  @extend .justify-content-center;
}

.nav-pills .nav-link {
  color: $charcoal;
  border: 4px solid transparent;
  border-radius: $sp5;
  @extend .py-1;
  @extend .my-2;
  transition: all 0.3s;
  @extend .mx-4;
  @extend .mx-md-0;
}

.nav-pills .nav-link h3 {
  @extend .position-relative;
  @extend .mb-0;
  font-weight: $baseWeight;
}

.nav-pills .nav-link.active {
  background: transparent;
  color: $charcoal;
}

.nav-pills .nav-link:hover:not(.active) {
  background: $ash;
  border-radius: $sp5;
  color: $charcoal;
  transition: all 0.3s;
}

.features h2 {
  @extend .text-center;
  @extend .mb-3;
}

.highlightText-Underline {
  @extend .position-relative;
}

.underline {
  @extend .position-absolute;
  width: 130px;
  margin-top: 1.2rem;
  margin-left: -4.1rem;
}

.nav-link.active .underline {
  display: inline; //show underline on active item
  // animation: animatedUnderline 0.25s ease 1;
  // transform-origin: 0px 10px;
}

.nav-link:not(.active) .underline {
  display: none; //hide underlines on inactive items
}

@keyframes animatedUnderline {
  from {
    transform: scaleX(0) rotate(3deg);
  }
  to {
    transform: scaleX(1);
  }
}

.pricing {
  @include media-breakpoint-only(xs) {
    //display: none;
  }
}

.contactForm {
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-only(xs) {
    width: 80%;
  }

  h1 {
    margin: $sp4 auto !important;
    //width: 30%;
  }

  label {
    text-align: left;
    width: 100%;
    margin-left: 1rem;
  }

  .form-control {
    //width: 30%;
    //margin: 0 !important;
    margin-left: auto;
    margin-right: auto;
    
    &:focus {
      border-color: $disco !important;
      box-shadow: 0 0 0 .2rem rgba(127, 23, 79, 0.25) !important;
    }
  }

  .btn {
    width: 100%;
  }
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                             FOOTER                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.footerSkew {
  background: linear-gradient(50deg, $plum 10%, $disco 100%);

  //transform: skewY(-12deg);
  filter: saturate(120%) contrast(110%);
  //@extend .d-flex;
  height: 100%;
  padding: 0 !important;
}

.footer {
  //@extend .justify-content-center;
  //@extend .d-flex;
  //height: 100%;
  //@extend .py-5;
  padding: $sp3;
  margin-right: 0 !important;
}

.footerText {
  margin-top: $sp1;
  color: $snow;
  padding-left: 0;

  h5 {
    font-weight: $thinWeight;
    font-size: 100%;

    a {
      color: $ash;
      font-weight: $boldWeight;
      text-decoration: underline;

      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
}

.footerMenu {
  margin-top: $sp1;
  padding-right: $sp4;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: $snow;
  text-align: right;

  @include media-breakpoint-up(md) {
    padding-right: 0;
  }

  h5 {
    font-weight: $thinWeight;
    font-size: 100%;

    @include media-breakpoint-up(sm) {
      margin-right: -$sp3;
    }

    @include media-breakpoint-up(lg) {
      margin-right: -$sp4 !important;
    }

    @include media-breakpoint-up(xl) {
      margin-right: -$sp5 !important;
    }

    a {
      color: $ash;
      //text-decoration: underline;
      //font-weight: $boldWeight;

      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
}
