// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        CSS VARIABLES                           //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//COLOR VARIABLES
$coal: #383838;
$disco: #bc1e68;
$spark: #f4b945;
$pool: #009ee5;
$moss: #78b54e;
$iron: #8a9090;
$fog: #ced1d5;
$snow: #eeeef0;

$baseFamily: niveau-grotesk, sans-serif;
$thinWeight: 200;
$baseWeight: 300;
$boldWeight: 600;

$baseFont: 1rem;
$smallFont: 1.25rem;
$mediumFont: 1.5rem;
$largeFont: 2.5rem;
$massiveFont: 3rem;

//SPACERS
$sp1: 0.25rem;
$sp2: 0.5rem;
$sp3: 1rem;
$sp4: 1.5rem;
$sp5: 3rem;
$sp6: 4rem;
$sp7: 5rem;

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            IMPORTS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

//BOOTSTRAP COLOR OVERRIDES/ADDITIONS
$theme-colors: (
  "pool": $pool,
  "disco": $disco,
  "spark": $spark,
  "secondary": $spark,
  "dark": $coal,
  "fog": $fog,
  "light": $snow,
);

@import "bootstrap/scss/bootstrap.scss";

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            GENERAL                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //


body {
  font-family: $baseFamily;
  font-weight: $baseWeight;
  font-size: $baseFont;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
  background: $snow;
  overflow-x: hidden;

  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.overflow {
  overflow-x: hidden;
}

.content {
  padding-left: $sp6;
  padding-right: $sp6;
}

.noUserSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               TEXT                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
h1 {
  // font-size: $largeFont;
  // font-weight: $thinWeight;
  font-size: $massiveFont;
  text-align: center;
  @extend .noUserSelect;
  @extend .mb-0;


  letter-spacing: -1px;
  line-height: 1;
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: italic;
}

h2 {
  font-size: $massiveFont;
  @extend .noUserSelect;
  line-height: 1;
  letter-spacing: -1px;
  line-height: 1;
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: $coal;
}

h3 {
  font-weight: $thinWeight;
  font-size: $smallFont;
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            BUTTONS                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.btn-lg,
.btn {
  border-radius: $sp5;
  //@extend .mx-2;
  // @extend .my-2;
  @extend .px-3;
  @extend .noUserSelect;
  transition: all 0.2s;
  @extend .justify-content-center;
  border: none ;
}

.btn-secondary {
  color: $disco;
  font-weight: $boldWeight;
  text-transform: uppercase;
  background-image: url("assets/images/bolt-snow.svg");
  background-repeat: no-repeat;
  background-size: 16rem;
  background-position: 43% 50%;
  // background-blend-mode: multiply;
  transition: all 0.2s;
  padding: 0.5rem 2rem !important;
  // @extend .shadow-sm;
  @extend .noUserSelect;

  @-moz-document url-prefix() {
    //transition: none !important;
    background-size: 0rem !important;
    background-image: none !important;
  }
}

.btn-secondary:hover {
  color: $snow;
  background-blend-mode: multiply;
  background-size: 4rem;
  @extend .shadow;
  transition: all 0.35s;
  text-decoration: none;

  @-moz-document url-prefix() {
    transition: all 0.3s !important;
    background-size: 0rem !important;
    background-blend-mode: none !important;
  }
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: $coal;
  background-blend-mode: multiply;
  background-size: 8rem;
  @extend .shadow-none;
}

.btn-light {
  color: $disco;
  font-weight: $boldWeight;
  text-transform: uppercase;
  @extend .shadow-sm;
}

.btn-light:hover {
  @extend .shadow;
  background: $disco;
  color: white;
  text-decoration: none;
}

.btn-light:not(:disabled):not(.disabled):active {
  @extend .shadow-none;
}

.btn-outline-light {
  @extend .border;
  border-color: transparent !important;
}

.btn-outline-light:hover {
  // @extend .shadow;
  @extend .border;
  // color: $disco;
  color: $snow;
  background-color: transparent;
  text-decoration: none;
}

.btn-outline-light:not(:disabled):not(.disabled):active {
  @extend .shadow-none;
}

.btn-pool {
  font-size: $smallFont;
  background: linear-gradient(50deg, $disco, $pool);
  background-size: 400% 400%;
  animation: backw 1s ease forwards;
  @extend .shadow-sm;
  @extend .px-4;
  @extend .noUserSelect;
  // transition: all 0.35s;
}

.btn-pool:hover {
  // background: linear-gradient(50deg, $pool, $disco);
  @extend .shadow;
  animation: forw 1s ease forwards;
  // transition: all 0.35s;
}

@keyframes forw {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 50% 50%;
	}
}

@keyframes backw {
	0% {
    background-position: 50% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form-range::-webkit-slider-thumb {
  background-color: $coal;
  

  &:active {
    background-color: rgba($coal, 0.5) !important;
  }


    
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.2rem rgba($coal, 0.25) !important;
}
// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                        HEADER / FOOTER                         //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.welcome {
  height: 24px;
  background: linear-gradient(50deg, $disco, $pool);
  @extend .shadow-lg;
  // @extend .position-absolute;
  top: 0px;
  z-index: 20;
  @extend .text-light;
  text-transform: uppercase;
  @extend .justify-content-center;
  @extend .d-flex;
  @extend .noUserSelect;
  text-align: center;

  @include media-breakpoint-only(xs) {
    padding: 2.25rem;
  }
}


.waveDivider {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 200%; // This doubles the width of the svg element that was made as two-width copy of itself
  overflow: hidden;
  line-height: 0;

  animation: loop 60s cubic-bezier(.4,.5,.5,.4) infinite;
}

.waveDividerReversed {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 200%; // This doubles the width of the svg element that was made as two-width copy of itself
  overflow: hidden;
  line-height: 0;
  opacity: 0.4;

  animation: loop 300s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.bannerSkew {
  background: linear-gradient(20deg, $pool 40%, $disco 100%);
  filter: saturate(120%);
}

.banner {
  // background-size: 100%;
  background-position: 0% 0%;
  animation: flow 75s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23eeeef0' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -100% 50%;
  }
}


.logo {
  padding: $sp2 0;
  pointer-events: none;
}

.textShadow {
  text-shadow: 0rem 0rem 0.5rem rgba($coal, 0.2);
}


.logoSm {
  @extend .ml-auto;
  pointer-events: none;
  padding: $sp2;

  @include media-breakpoint-only(sm) {
    padding: 0 0 0 8%;
  }
  @include media-breakpoint-only(md) {
    padding: 0 0 0 10.5%;
  }
  @include media-breakpoint-only(lg) {
    padding: 0 0 0 11.5%;
  }
  @include media-breakpoint-only(xl) {
    padding: 0 0 0 12.5%;
  }
}

.hero {
  color: $snow;
  padding: $sp4 0;  
}

.title {
  margin-bottom: 9vw;
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               MAIN                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.card {
  width: 60%;
  height: auto;
  z-index: 7;
  background-color: transparent;
  @extend .border-0;

  @include media-breakpoint-only(xs) {
    width: 78% !important;
  }
}

.blur {
  filter: blur(1.5px);
}

.highlightImg {
  width: 100%;
  @extend .position-relative;

  .img {
    width: 100%;
    border-radius: $sp1;
    @extend .shadow-lg;

    @include media-breakpoint-up(md) {
      border-radius: $sp3;
    }
  }
}

.fullwidthImg {
  width: 280%;
  text-align: center;
  // margin-left: -56vw;
  position: relative;
  animation: dashboard 35s ease-in-out infinite;

  @keyframes dashboard {
    0% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @include media-breakpoint-up(md) {
    margin-left: -60vw;
    animation: dashboardSmall 45s ease-in-out infinite;

    @keyframes dashboardSmall {
      0% {
        transform: translateX(10%);
      }
      50% {
        transform: translateX(-10%);
      }
      100% {
        transform: translateX(10%);
      }
    }
  }

  img {
    max-width: 2500px;
    min-width: 1500px;
  }
}





.subImg {
  @extend .position-absolute;
  border-radius: $sp1;
  @extend .shadow;
  top: -2%;
  left: 70%;
  width: 40% !important;

  @include media-breakpoint-up(md) {
    border-radius: $sp3;
  }
}

.subImg2 {
  top: 17%;
}

.subImg3 {
  @extend .position-absolute;

  left: -5%;
  top: 3%;
}

.subImg4 {
  @extend .position-relative;
  // @extend .shadow-sm;
  margin-top: $sp2;
  height: 30px;
  // -webkit-filter: drop-shadow(0 0.125rem 0.25rem  rgba(0,0,0,0.175));
  filter: drop-shadow(0 0.125rem 0.25rem  rgba(0,0,0,0.175));
  
  @include media-breakpoint-up(md) {
    height: 41px;
  }
}

.subImg5 {
  @extend .position-absolute;
  
  left: -5%;
  top: 6.5%;
  
  > img {
    height: 75px;
    // -webkit-filter: drop-shadow(0 0.125rem 0.25rem  rgba(0,0,0,0.175));
    filter: drop-shadow(0 0.125rem 0.25rem  rgba(0,0,0,0.175));
    
    @include media-breakpoint-only(md) {
      height: 100px;
    }
    
    @include media-breakpoint-up(lg) {
      height: 110px;
    }
  }
}

.cardOne {
  margin-left: 19.5%;
  margin-bottom: 6rem;

  @include media-breakpoint-only(xs) {
    margin-left: 7%;
    margin-bottom: 4rem;
  }
}

.cardTwo {
  margin-left: 19.5%;
  margin-top: 0px;
  //margin-bottom: 10rem;

  @include media-breakpoint-only(xs) {
    margin-bottom: 4rem;
    margin-left: 11%;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 5rem;
  }
}

.cardTwo h2 {
  @extend .text-center;

  @include media-breakpoint-up(md) {
    //margin-bottom: $sp2;
  }
}

.cardThree {
  margin-left: 19.5%;
  margin-bottom: 6rem;

  @include media-breakpoint-only(xs) {
    //margin-bottom: 7rem;
    margin-left: 11%;
    margin-bottom: 4rem;
  }

  @include media-breakpoint-between(sm, lg) {
    //margin-bottom: 7rem;
  }

  @include media-breakpoint-up(xl) {
    //margin-bottom: 9rem;
  }
}

.cardFour {
  margin-left: 19.5%;
  margin-top: 0px;

  @include media-breakpoint-only(xs) {
    //margin-bottom: 7rem;
    margin-left: 11%;
  }
}

.cardFour h2 {
  width: 75%;
  @extend .text-center;
  @extend .mx-auto;
}

.cardText {
  @extend .text-center;
  @extend .mb-3;
}

.titleText {
  @extend .text-center;

  h2 {
    @include media-breakpoint-only(xs) {
      //font-size: 220%;
    }
  }
}

.highlightText-Lift {
  vertical-align: super;
  @extend .position-relative;
}

.lift {
  @extend .position-absolute;
  width: 120%;
  margin-top: 0.1rem;
  margin-left: -4.3rem;
}

.highlightText-Wave {
  @extend .position-relative;
}

.wave {
  @extend .position-absolute;
  
  height: 100%;
  margin-left: -15.5rem;
  margin-top: 3.6rem;

  @include media-breakpoint-between(xs, md) {
    margin-left: -6.5rem;
  }
}

.highlightText-Wave ~ h2 {
  @extend .position-relative;
}

.star {
  @extend .position-absolute;
  width: 90px;
  margin-top: -0.1rem;
  margin-left: -7.65rem;

  @include media-breakpoint-between(xs, sm) {
    margin-left: 0.5rem;
  }
}

.highlightText-Star ~ h2 {
  @extend .position-relative;
}

.bulb {
  @extend .position-absolute;
  width: 58px;
  margin-left: -7.15rem;

  @include media-breakpoint-between(xs, sm) {
    margin-left: -3.2rem;
  }
}

.highlightText-Bulb ~ h2 {
  @extend .position-relative;
}

.supportText {
  @extend .text-center;
  margin-bottom: $sp2;

  h3 {
    font-size: $smallFont;
  }
}

.highlightText-Circle {
  @extend .position-relative;
}

.circle {
  @extend .position-absolute;
  width: 80px;
  margin-top: 0.5rem;
  margin-left: -14.3rem;

  @include media-breakpoint-between(xs, sm) {
    margin-left: -5.2rem;
  }
}

.highlightText-Circle ~ h2 {
  @extend .position-relative;
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                               CTA                              //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //


.cta {
  background: $coal;
  color: $snow;
  margin-top: 3rem;
  padding: 3rem 0;
  

  @include media-breakpoint-up(md) {
    margin-top: 8rem;
    padding: 7rem 0;
  }

  h2 {
    color: $snow;
  }
}

.waveDividerStillTop {
  position: absolute;
  top: -1px;
  left: 0;
  width: 400%;
  // max-width: 7000px;
  overflow: hidden;
  transform: rotate(180deg) translateX(60vw);
  line-height: 0;
  
}

.waveDividerStillBottom {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 400%;
  // max-width: 7000px;
  overflow: hidden;
  transform: translateX(-40vw);
  line-height: 0;
  
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                            SECTIONS                            //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //
.features {
  text-align: justify;
  margin: $sp4 0 0 0;

}

.featuresNav {
  // @extend .mt-md-5;
  // @extend .mb-5;
  // @extend .mb-md-0;
  font-size: $mediumFont;
  @extend .text-center;
  @extend .mr-md-3;

  @include media-breakpoint-between(xs, sm) {
    //display: none;
  }
}

.nav {
  @extend .justify-content-center;
}

.nav-pills .nav-link {
  color: $coal;
  // border: 4px solid transparent;
  border-radius: $sp5;
  @extend .py-1;
  @extend .px-3;
  @extend .my-2;
  transition: all 0.3s;
  @extend .mx-4;
  @extend .mx-md-0;
  border: 2px solid transparent;
}

.nav-pills .nav-link h3 {
  @extend .position-relative;
  @extend .mb-0;
  font-weight: $baseWeight;
}

.nav-pills .nav-link.active {
  background: transparent;
  color: $coal;
}

.nav-pills .nav-link:hover:not(.active) {
  border-color: $fog;
  border-radius: $sp5;
  
  color: $coal;
  transition: all 0.3s;
}

.features h2 {
  @extend .text-center;
  @extend .mb-3;
}

.highlightText-Underline {
  @extend .position-relative;
}

.underline {
  @extend .position-absolute;
  width: 130px;
  margin-top: 1.2rem;
  margin-left: -4.1rem;
}

.nav-link.active .underline {
  display: inline; //show underline on active item
  animation: animatedUnderline 0.25s ease 1;
}

.nav-link:not(.active) .underline {
  display: none; //hide underlines on inactive items
}

@keyframes animatedUnderline {
  from {
    transform: scaleX(0) rotate(3deg);
  }
  to {
    transform: scaleX(1);
  }
}


.contactForm {
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-only(xs) {
    width: 80%;
  }

  h1 {
    margin: $sp4 auto !important;
  }

  label {
    text-align: left;
    width: 100%;
    margin-left: 1rem;
  }

  .form-control {
    margin-left: auto;
    margin-right: auto;
    
    &:focus {
      border-color: $disco !important;
      box-shadow: 0 0 0 .2rem rgba(127, 23, 79, 0.25) !important;
    }
  }

  .btn {
    width: 100%;
  }
}

// // // // // // // // // // // // // // // // // // // // // // //
//                                                                //
//                             FOOTER                             //
//                                                                //
// // // // // // // // // // // // // // // // // // // // // // //

.footerSkew {
  background: linear-gradient(20deg, $pool 10%, $disco 100%);
  filter: saturate(120%);

  height: 100%;
  padding: 0 !important;
}

.footer {
  padding: 6rem $sp3 $sp3 $sp3;
  margin-right: 0 !important;
}

.footerText {
  margin-top: $sp1;
  color: $snow;
  padding-left: 0;

  h5 {
    font-weight: $thinWeight;
    font-size: 100%;

    a {
      color: $snow;
      font-weight: $boldWeight;
      text-decoration: underline;

      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
}

.waveDividerFooter {
  position: absolute;
  top: -1px;
  left: 0;
  width: 200%; // This doubles the width of the svg element that was made as two-width copy of itself
  overflow: hidden;
  line-height: 0;
  transform: translateX(-300px) rotate(180deg);
  // transform: rotate(180deg) !important;
  animation: looping 40s cubic-bezier(.4,.5,.5,.4) infinite;

  @keyframes looping {
    0% {
      transform: translateX(-50%) rotate(180deg);
    }
    100% {
      transform: translateX(0%) rotate(180deg);
    }
  }
}

.footerMenu {
  margin-top: $sp1;
  padding-right: $sp4;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: $snow;
  text-align: right;

  @include media-breakpoint-up(md) {
    padding-right: 0;
  }

  h5 {
    font-weight: $thinWeight;
    font-size: 100%;

    @include media-breakpoint-up(sm) {
      margin-right: -$sp3;
    }

    @include media-breakpoint-up(lg) {
      margin-right: -$sp4 !important;
    }

    @include media-breakpoint-up(xl) {
      margin-right: -$sp5 !important;
    }

    a {
      color: $fog;

      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
}
